<section id="slider"><!--slider-->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="slider-carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% (0...advetistments.size).each do |item| %>
              <li data-target="#slider-carousel" data-slide-to="<%= item %>" class="<%= item == 0 ? 'active' : nil %>"></li>
            <% end %>
          </ol>

          <div class="carousel-inner">
            <% advetistments.each_with_index do |advetistment, index| %>
              <div class="item <%= index == 0 ? 'active' : nil %>">
                <div class="col-sm-6">
                  <h1><span><%= advetistment&.icon_name %></span></h1>
                  <h2><%= advetistment&.name %></h2>
                  <p><%= advetistment&.description %></p>
                  <!-- <button type="button" class="btn btn-default get">Get it now</button> -->
                </div>
                <div class="col-sm-6">
                  <%= image_tag advetistment&.picture_url, class: "girl img-responsive" %>
                </div>
              </div>
            <% end %>
          </div>
          <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section><!--/slider-->
