<header id="header"><!--header-->
  <%= render partial: "layouts/shared/header_top" %>
  <%= render partial: "layouts/shared/header_middle" %>
  <%= render partial: "layouts/shared/header_bottom" %>
</header>
<%= render partial: "layouts/shared/slider", locals: {advetistments: @advetistments} if @advetistments.present? %>
<section>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="left-sidebar">
            <div class="panel-group category-products" id="accordian"><!--category-productsr-->

            </div><!--/category-products-->

            <div class="brands_products"><!--brands_products-->
<!--               <h2>Brands</h2>
              <div class="brands-name">
                <ul class="nav nav-pills nav-stacked">
                  <li><a href="#"> <span class="pull-right">(50)</span>Acne</a></li>
                  <li><a href="#"> <span class="pull-right">(56)</span>Grüne Erde</a></li>
                  <li><a href="#"> <span class="pull-right">(27)</span>Albiro</a></li>
                  <li><a href="#"> <span class="pull-right">(32)</span>Ronhill</a></li>
                  <li><a href="#"> <span class="pull-right">(5)</span>Oddmolly</a></li>
                  <li><a href="#"> <span class="pull-right">(9)</span>Boudestijn</a></li>
                  <li><a href="#"> <span class="pull-right">(4)</span>Rösch creative culture</a></li>
                </ul>
              </div> -->
            </div><!--/brands_products-->

            <div class="price-range"><!--price-range-->
              <!-- <h2>Price Range</h2>
              <div class="well text-center">
                 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
                 <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
              </div> -->
            </div><!--/price-range-->

            <div class="shipping text-center"><!--shipping-->
              <%= image_tag("home/shipping.jpg") %>
            </div><!--/shipping-->

          </div>
        </div>

        <div class="col-sm-9 padding-right">
          <div class="features_items"><!--features_items-->
            <h2 class="title text-center">Services</h2>
            <% @features.each do |feature| %>
              <div class="col-sm-4">
                <div class="product-image-wrapper">
                  <div class="single-products">
                      <div class="productinfo text-center">
                        <%= default_image?(feature&.pictures&.first&.url_picture) %>
                        <h2><%= feature&.price %></h2>
                        <p><%= feature&.name %></p>
                      </div>
                      <div class="product-overlay">
                        <div class="overlay-content">
                          <h2><%= feature&.price %></h2>
                          <p><%= feature&.name %></p>
                        </div>
                      </div>
                  </div>
                  <!-- <div class="choose">
                    <ul class="nav nav-pills nav-justified">
                      <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                      <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                    </ul>
                  </div> -->
                </div>
              </div>
            <% end %>

          </div><!--features_items-->

          <div class="category-tab"><!--category-tab-->
            <div class="col-sm-12">
              <ul class="nav nav-tabs">
                <% @categories.each_with_index do |cat, index| %>
                  <li class="<%= index == 0 ? 'active' : nil %>">
                    <%= link_to cat&.name, "##{cat.slug}", "data-toggle" => "tab" %>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="tab-content">
              <% @categories.each_with_index do |cat, index| %>
                <div class="tab-pane fade <%= index == 0 ? 'active' : nil %> in" id="<%= cat.slug %>" >
                  <% cat&.products.order(:group_product).map(&:group_product).uniq.each_with_index do |group, index| %>
                    <% if index != 0 %>
                      <div class="row space-group"></div>
                    <% end %>
                    <% cat&.products.where(group_product: group).each_slice(4) do |product| %>
                      <div class="row">
                        <% product.each do |pro| %>
                          <div class="col-sm-3">
                            <div class="productinfo text-center">
                              <p class="title-color"><%= pro&.name %><br><%= pro&.price %></p>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div><!--/category-tab-->

          <%= render partial: "layouts/shared/recommend", locals: {recommends: @recommends} if @recommends.present? %>

        </div>
      </div>
    </div>
  </section>
